<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista przedmiotów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<a href="/przedmiots">Przedmioty | </a>
<a href="/login">Logowanie</a>
<h1>Lista prowadzonych przedmiotów</h1>

<!--<form action="/adder">-->
<!--    <input type="submit" value="Dodaj kolokwium" />-->
<!--</form>-->

<div class="form-actions" style="margin-top: 12px;">
    <form action="/wystaw_5">
        <button th:name="wystaw_5" type="submit" class="btn btn-success">Wystaw 5</button>
    </form>
</div>

<p></p>

    <table class="table table-bordered table-striped" style="width: 60%">
        <tr>
            <th>Nazwa przedmiotu</th>
            <th>Liczba studentów</th>
        </tr>
        <tr th:each="przedmiot : ${przedmiots}">
            <td><a href="/adder" th:text="${przedmiot.nazwa}">Programowanie w Javie</a></td>
            <td th:text="'0' + '/' + ${przedmiot.maxIloscStudentow}">0/15</td>
            <td>
                <div class="form-actions" style="margin-top: 12px;">
                <button th:name="${przedmiot.id}" type="submit" class="btn btn-success">Dołącz do grupy</button>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
