<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista przedmiotów</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
<a href="/przedmiots">Przedmioty | </a>
<a href="/students">Studenci | </a>
<a href="/add">Dodawanie przedmiotu | </a>
<a href="/oceny">Oceny | </a>
<a href="/login">Logowanie</a>
<a href="/logout">Wyloguj</a>

<a href="/aktualizujOceny">Aktualizuj</a>
<table class="table table-bordered table-striped" style="width: 60%">
  <tr>
    <th>Przedmiot</th>
    <th>Student</th>
    <th>Ocena</th>
  </tr>
  <tr th:each="ocena : ${oceny}">
    <td th:text="${ocena.przedmiot.nazwa}"></td>
    <td th:text="${ocena.student.imie} + ' ' + ${ocena.student.nazwisko}"></td>
    <td th:text="${ocena.ocena}"></td>
  </tr>
</table>

</body>
</html>
