<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista przedmiotów</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<center>
    <a href="/przedmiotsAll">Przedmioty | </a>
    <a href="/add">Dodawanie przedmiotu | </a>
    <a href="/studentsAll">Studenci | </a>
    <a href="/ocenyAll">Oceny | </a>
    <a href="/login">Logowanie |</a>
    <a href="/logout">Wyloguj </a>
</center>
<h1>Lista ocen ze wszystkich przedmiotów</h1>

<table class="table table-bordered table-striped" style="width: 60%">
    <tr>
        <th>Przedmiot</th>
        <th>Prowadzący</th>
        <th>Student</th>
        <th>Ocena</th>
    </tr>
    <tr th:each="ocena : ${oceny}">
        <td th:text="${ocena.przedmiot.nazwa}">BRAK</td>
        <td th:text="${ocena.przedmiot.prowadzacy.imie} + ' ' + ${ocena.przedmiot.prowadzacy.nazwisko}">Jan</td>
        <td th:text="${ocena.student.imie} + ' ' + ${ocena.student.nazwisko}">Jan</td>
        <td th:text="${ocena.ocena}">Jan</td>
    </tr>
</table>
</body>
</html>
