<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista studentów</title>
</head>
<body>
<h1>Lista studentów</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Prowadzący</th>
        <th>Maksymalna liczba studentów</th>
    </tr>
    <tr th:each="przedmiot : ${przedmiots}">
        <td th:text="${przedmiot.id}">BRAK</td>
        <td th:text="${przedmiot.nazwa}">Jan</td>
        <td th:text="${przedmiot.prowadzacy.imie}">Kowalski</td>
        <td th:text="${przedmiot.maxIloscStudentow}">fajne_hasło</td>
    </tr>
</table>

</body>
</html>
