<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Rejestracja</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>

<center>
  <a href="/przedmiots">Przedmioty | </a>
  <a href="/students">Studenci | </a>
  <a href="/add">Dodawanie przedmiotu | </a>
  <a href="/oceny">Oceny | </a>
  <a href="/login">Logowanie</a>
  <a href="/logout">Wyloguj</a>
</center>

<div class="container">
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <center>
          Zarejestruj się
        </center>
      </div>
      <div class="card-block" style="padding: 24px;">
        <form name="f" th:action="@{/register}" method="post">
          <fieldset>

            <div class="form-group">
              <label for="firstName">Imię</label>
              <input type="text" class="form-control" id="firstName" name="firstName"
                     placeholder="Imię" required autofocus>
            </div>

            <div class="form-group">
              <label for="lastName">Nazwisko</label>
              <input type="text" class="form-control" id="lastName" name="lastName"
                     placeholder="Nazwisko" required autofocus>
            </div>

            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" class="form-control" id="email" name="email"
                     placeholder="E-mail" required autofocus>
            </div>

            <div class="form-group">
              <label for="password">Hasło</label>
              <input type="password" class="form-control" id="password" name="password"
                     placeholder="Hasło" required>
            </div>

            <div class="form-group">
              <label for="numer_telefonu">Numer Telefonu</label>
              <input type="tel" class="form-control" id="numer_telefonu" name="numer_telefonu"
                     placeholder="000 000 000" pattern="[0-9]{9}" required>
            </div>

            <center>
            <div class="form-check">
              <select name="type" id="type">
                <option value="student">Student</option>
                <option value="pracownik_naukowy">Pracownik Naukowy</option>
                <option value="pracownik_dziekanatu">Pracownik Dziekanatu</option>
                </option>
              </select>
            </div>
            </center>

            <center>
              <div class="form-actions" style="margin-top: 12px;">
                <button type="submit" class="btn btn-success">Zarejestruj się</button>
              </div>
            </center>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
