<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Logowanie</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
<a href="/przedmiots">Przedmioty | </a>
<a href="/students">Studenci | </a>
<a href="/adder">Dodawanie przedmiotu | </a>
<a href="/oceny">Oceny | </a>
<a href="/login">Logowanie</a>
<a href="/logout">Wyloguj</a>

<div class="container">
  <div style="width:600px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-header">
        <center>
          Niepoprawne dane logowania
        </center>
      </div>
      <div class="card-block" style="padding: 24px;">
        <form name="f" th:action="@{/login}" method="post">
          <fieldset>
            <center>
              <div class="form-actions" style="margin-top: 12px;">
                <button type="button" onclick="window.location.href='/login';" class="btn btn-success">Spróbuj ponownie!</button>
              </div>
            </center>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
