<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj przedmiot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<a href="/przedmiots">Przedmioty | </a>
<a href="/students">Studenci | </a>
<a href="/adder">Dodawanie przedmiotu | </a>
<a href="/oceny">Oceny | </a>
<a href="/login">Logowanie</a>

<h1>Dodaj przedmiot</h1>
<p>Nazwa przedmiotu: <input type="text"/></p>
<p>Maksymalna ilość studentów: <input type="number"/></p>
<p>Wybierz prowadzącego przedmiot z listy:
<select>
  <option value=""> -- </option>
  <option th:each="science_worker : ${science_workers}" th:text="${science_worker.imie} + ' ' + ${science_worker.nazwisko}">
  </option>
</select>
</p>
<form action="/przedmiots">
    <input type="submit" value="Dodaj przedmiot" />
</form>
</body>
</html>
