<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj przedmiot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<center>
    <a href="/przedmiotsAll">Przedmioty | </a>
    <a href="/add">Dodawanie przedmiotu | </a>
    <a href="/studentsAll">Studenci | </a>
    <a href="/ocenyAll">Oceny | </a>
    <a href="/login">Logowanie |</a>
    <a href="/logout">Wyloguj </a>
</center>


<div class="container-fluid text-center">
    <!--  <div>-->
    <!--    <img class="img-fluid" th:src="/@{/images/ShopmeAdminBig.png}" />-->
    <!--  </div>-->
    <form th:action="@{/add}" method="post" style="max-width: 350px; margin: 0 auto;">


        <div class="border border-secondary p-3 rounded">
            <p><h1>Dodaj przedmiot</h1></p>
            <p>Nazwa przedmiotu:
                <input type="text" name="nazwa" class="form-control"  required autofocus/>
            </p>
            <p>Maksymalna ilość studentów:
                <input type="number" name="maxIloscStudentow" class="form-control"  required autofocus/>
            </p>
            <p>Wybierz prowadzącego przedmiotu:</p>
            <select name="nauczyciel">
                <option th:each="science_worker : ${science_workers}" th:valuetype="text" th:value="${science_worker.nazwisko}"  th:text="${science_worker.imie} + ' ' + ${science_worker.nazwisko}">
                </option>
            </select>
            <p></p>
            <p>
                <input type="submit" value="Dodaj przedmiot" class="btn btn-primary" />
            </p>
        </div>

    </form>
</div>
</body>
</html>

